@import url(../../../components/variables.css);

input:focus {
  outline: none;
}

.body-container-page {
  display: flex;
  justify-content: space-around;
}

.container-tittle-page {
  display: flex;
  justify-content: center;
}

.tittle-page-pasarela {
  font-weight: 400;
}

.opcion-entrega {
  margin-bottom: 10%;
  font-weight: 400;
}

.opciones-segment-one {
  display: flex;
}

.inputs-segment-one-enviar {
  margin-right: 8vh;
  padding: 2% 4%;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

.opciones-segment-two {
  margin-top: 5%;
  display: flex;
}

.inputs-segment-two-nombre {
  margin-right: 8vh;
  padding: 2% 4%;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

.opciones-segment-direccion {
  margin-top: 5%;
}

.input-direccion {
  padding: 2% 8%;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  border-style: none;
  font-weight: bold;
}

.opciones-segment-three {
  margin-top: 5%;
  display: flex;
}

.inputs-segment-three-postal {
  margin-right: 8vh;
  padding: 2% 4%;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

.opciones-segment-fourt {
  margin-top: 5%;
  display: flex;
}

.inputs-segment-fourt-email {
  margin-right: 8vh;
  padding: 2% 4%;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

.container-button-pasarela {
  display: flex;
  margin-top: 10%;
  justify-content: center;
}

.button-pasarela {
  width: 40%;
  font-size: 16px;
  padding: 2% 0%;
  margin-left: 15%;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.button-pasarela:hover {
  background-color: var(--color7);
}

.inputs-segment {
  padding: 2% 4%;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

.error-email {
  color: red;
  position: absolute;
  font-size: 13px;
  margin-top: 3%;
  width: 220px;
  margin-left: 1.5%;
}

.sale-cart h3 {
  font-weight: 400;
}